






h1 {
  font-size: 48px;
}

h2 {
  font-family: "amatic_scregular";
  font-size: 3rem;
}



.cta {
  width: fit-content;
}

/* button effects */
/* 4 */
button {
  margin: 20px;
  outline: none;
  
}
.custom-btn {
  padding: 10px 25px;
  border: 2px solid #281a19;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}
.btn {
  position: relative;
  z-index: 2;
  line-height: 40px;
  /* padding: 0; */
}
.btn:hover{
  border: none;
}
.btn:before,
.btn:after {
  position: absolute;
  content: "";
  width: 0%;
  height: 0%;
  border: 2px solid;
  z-index: -1;
  transition: all 0.3s ease;
}
.btn:before {
  top: 0;
   left: 0;
   border-bottom-color: transparent;
   border-right-color: transparent;
}
.btn:after{
   bottom: 0;
   right: 0;
   border-top-color: transparent;
   border-left-color: transparent;
}
.btn:hover:before,
.btn:hover:after {
  
  height: 100%;
  width: 100%;
}

.btn-black{
  border-color: #281a19;
  border-bottom-color: #281a19;
  border-right-color: #281a19;
  border-top-color: #281a19;
  border-left-color: #281a19;
  color: #281a19;
}

.btn-white{
  border-color: #fff;
  border-bottom-color: #fff;
  border-right-color: #fff;
  border-top-color: #fff;
  border-left-color: #fff;
  color: #fff;
}

html {
  scroll-behavior: smooth;
}

